* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* header styles */
header {
  background-image: url("../images/banner/banner2.png");
  height: 100vh;
  width: 100%;
}
.header-banner {
  text-align: right;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
  padding: 216px 230px 24px 845px;
}
.header-description {
  color: #444343;
  font-size: 16px;
  padding-right: 230px;
  padding-bottom: 34px;
  padding-left: 870px;
}
.btn-1 {
  font-weight: 600;
  font-size: 20px;
  color: #ffff;
  background: #f15b22;
  border-radius: 5px;
  border: none;
  padding: 20px 26px;
  margin-right: 230px;
  margin-bottom: 167px;
}
/* about section styles */
.about-container {
  display: flex;
  gap: 87px;
}
.about-content h3 {
  margin-top: 369px;
  padding-right: 250px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.about-content .content-para {
  padding-right: 320px;
  margin-bottom: 16px;
  color: #444343;
  font-size: 16px;
}
.about-img {
  margin-top: 130px;
  margin-left: 206px;
}
.about-content ul {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
}
.about-content ul li {
  margin-bottom: 8px;
}
/* video section styles */
.intro-video {
  max-width: 1140px;
  margin-left: 200px;
  text-align: center;
}
.intro-title {
  
  font-weight: 700;
font-size: 40px;
color:#151414;
margin-top: 130px;
margin-bottom: 50px;
}

/* skill styles */
.plan-title {
  margin-top: 130px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 50px;
}
.skill-container {
  display: flex;
  justify-content: space-between;
  padding-left: 320px;
  padding-right: 230px;
}
.skill-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin-top: 15px;
}
.skill-description {
  font-weight: 500;
  font-size: 25px;
  color: #737273;
  margin-top: 15px;
}
/* linear background styles */
.linear-bg {
  background-image: linear-gradient(90deg, #f24907 0%, rgba(245, 71, 2, 0) 100%),
    url(../images/watch.png);
  max-width: 1140px;
  height: 300px;
  margin-top: 120px;
  margin-left: 230px;
  background-blend-mode: screen;
  border-radius: 8px;
  margin-bottom: 130px;
}
.linear-title {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  padding: 60px 617px 24px 65px;
}
.linear-btn {
  background: #ffffff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  padding: 21px 36px;
  border: none;
  margin-left: 65px;
}
/* footer styles */
footer {
  background: #0a0a0a;
}
.footer-container {
  display: flex;
}
.footer-content .title {
  margin-top: 130px;
  margin-left: 230px;
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
}
.footer-content p {
  color: #ffffff;
  font-size: 16px;
  margin-top: 16px;
  margin-left: 230px;
  margin-right: 285px;
}
.footer-image {
  margin: 30px 17px 130px 230px;
  gap: 20px;
}
.footer-image a {
  text-decoration: none;
  padding-right: 20px;
}
.submit h4 {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-top: 130px;
  margin-right: 430px;
  margin-bottom: 31px;
}
.submit input {
  color: #f3f3f3;
  font-size: 18px;
  padding: 22px 158px 22px 20px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin-bottom: 22px;
}
.footer-btn {
  background: #ffffff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  padding: 21px 36px;
  border: none;
}
