* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* header styles */
header {
  background-image: url("../images/banner/banner2.png");
  height: 100vh;
  width: 100%;
}
.header-banner {
  text-align: right;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
  padding: 216px 230px 24px 845px;
}
.header-description {
  color: #444343;
  font-size: 16px;
  padding-right: 230px;
  padding-bottom: 34px;
  padding-left: 870px;
}
.btn-1 {
  font-weight: 600;
  font-size: 20px;
  color: #ffff;
  background: #f15b22;
  border-radius: 5px;
  border: none;
  padding: 20px 26px;
  margin-right: 230px;
  margin-bottom: 167px;
}
/* about section styles */
.about-container {
  display: flex;
  gap: 87px;
}
.about-content h3 {
  margin-top: 369px;
  padding-right: 250px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.about-content .content-para {
  padding-right: 320px;
  margin-bottom: 16px;
  color: #444343;
  font-size: 16px;
}
.about-img {
  margin-top: 130px;
  margin-left: 206px;
}
.about-content ul {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
}
.about-content ul li {
  margin-bottom: 8px;
}
/* skill styles */
 .plan-title {
  margin-top: 130px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 50px;
}
.skill-container {
  display: flex;
  justify-content: space-around;
  margin-left: 320px;
  margin-right: 230px;
  gap: 130px;
}
.skill-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin-top: 15px;
}
.skill-description {
  font-weight: 500;
  font-size: 25px;
  color: #737273;
  margin-top: 15px;
}
